@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.star {
  filter: invert(92%) sepia(16%) saturate(6969%) hue-rotate(343deg) brightness(101%) contrast(103%);
}

.animated {
  animation: leftToRight;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

.unanimated {
  animation: rightToLeft;
  animation-duration: .3s;
  animation-timing-function: ease-out;
}

@keyframes leftToRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}